<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <meta charset="utf-8">
        <title>{% block title %}Weather Insider Prep{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/cloud_icon.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-app-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-auth-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-firestore-compat.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>

        <nav class="bottom-nav">
            <a href="{{ url_for('index') }}" class="nav-item {% if request.endpoint == 'index' %}active{% endif %}">
                <img src="{{ url_for('static', filename='images/home.svg') }}" width="24" height="24">
                <span>Home</span>
            </a>
            <a href="{{ url_for('checkout') }}" class="nav-item {% if request.endpoint == 'checkout' %}active{% endif %}">
                <img src="{{ url_for('static', filename='images/purchase.svg') }}" width="24" height="24">
                <span>Cloud Purchase</span>
            </a>
            <a href="{{ url_for('profile') }}" class="nav-item {% if request.endpoint == 'profile' %}active{% endif %}">
                <img src="{{ url_for('static', filename='images/account.svg') }}" width="24" height="24">
                <span>Settings</span>
            </a>
        </nav>

        {% block content %}{% endblock %}

        {% block scripts %}{% endblock %}

    </body>
</html>