{% extends "base.html" %}

{% block title %}WIP Account Creation{% endblock %}

{% block content %}
    <h1>Create Account</h1>

    <div class="page-content">
        <form onsubmit="handleCreateAccount(event);">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <label for="text">Display Name:</label>
            <input type="text" id="display" name="display">
            <label for="text">Zipcode:</label>
            <input type="text" id="zip" name="zip">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <label for="password">Confirm Password:</label>
            <input type="password" id="password2" name="password">
            <input type="submit" value="Create Account" class="btn-primary">
        </form>

        <a href="{{ url_for('login') }}">
            <button class="btn-secondary">Back</button>
        </a>

        <div id="error-msg"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}