{% extends "base.html" %}

{% block title %}WIP Login{% endblock %}

{% block content %}
    <h1>Login</h1>

    <div class="page-content">
        <form onsubmit="handleEmailPasswordSubmit(event);">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Sign In" class="btn-primary">
        </form>

        <p>Keep Me Signed In: <input type="checkbox" id="remember"/></p>

        <div id="error-msg"></div>

        <a href="{{ url_for('create_account') }}">
            <button class="btn-secondary">Create Account</button>
        </a>

        <div id="login-buttons">
            <button id="google-sign-in-button" onclick="handleGoogleSignIn();">
                <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" width="18" height="18">
                Continue with Google
            </button>
            <button id="anon-sign-in-button" onclick="handleAnonSignIn();">Anonymous</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}