<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  	    <meta charset="utf-8">
        <title>WIP Login</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/cloud_icon.png') }}">	    <meta name="viewport" content="width=device-width, initial scale=1.0">
        <script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-app-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-auth-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-firestore-compat.js"></script>    
    </head>
    <body>
        <h1>Weather Insider Prep Login</h1>

        <form onsubmit="handleEmailPasswordSubmit(event);">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Sign In" style="cursor: pointer;"><br>
        </form>

        <div id="error-msg" style="color: red; margin-top: 10px;"></div>
        
        <div>
            <a href="{{ url_for('create_account')}}" style="margin: 10px;">
                <button>Create Account</button>
            </a>        
        </div>

        <div id="login-buttons"> 
            <button id="google-sign-in-button" onclick="handleGoogleSignIn();">Google</button><br>
            <button id="anon-sign-in-button" onclick="handleAnonSignIn();">Anonymous</button>
        </div>
    
        <br>
        <a href="{{ url_for('index')}}" style="margin: 10px;">
            <button>Back</button>
        </a>
              

        <script src="{{ url_for('static', filename='scripts.js') }}"></script>    </body>
</html>