{% extends "base.html" %}

{% block title %}WIP Profile{% endblock %}

{% block head %}
    <script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-messaging-compat.js"></script>
{% endblock %}

{% block content %}
    <h1>Profile</h1>

    <div class="page-content">
        <p>Welcome, <span id="user-displayname"></span>!</p>
        <p>Email: <span id="user-email"></span></p>
        <p>Saved Zipcode: <span id="user-zipcode"></span></p>
        <p>Notifications: <span id="user-notification"></span></p>
        <hr>

        <div>
            <input type="text" id="displayname" placeholder="Enter Display Name">
            <button onclick="updateDisplayName(document.getElementById('displayname').value);" class="btn-secondary">Save</button>
        </div><br>

        <div>
            <input type="text" id="zipcode" placeholder="Enter Zipcode">
            <button onclick="updateSavedZipcode(document.getElementById('zipcode').value);" class="btn-secondary">Save</button>
        </div><br>

        <div id="notif-section">
            <label>Notifications: </label>
            <button id="notif-btn-on" onclick="notifsPerm()" class="btn-secondary">Enable</button>
            <button id="notif-btn-off" onclick="disableNotifs()" class="btn-secondary">Disable</button>
        </div>

        <hr>
        <div id="error-msg"></div>
        <br>

        <a href="{{ url_for('login') }}">
            <button onclick="logout();" class="btn-secondary">Logout</button>
        </a>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='notifs.js') }}"></script>
{% endblock %}